html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: url('../img/skyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
header,
footer {
  flex: none;
}

.navbar {
  opacity: 0.98;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}
#home-heading {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  height: auto;
}

.dark-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}

.container#photo-self {
  background-color: rgba(100, 55, 31, 0.95);
  height: 100%;
}
#home-heading, #projects-heading, #contact-heading {
  background-color: rgba(100, 55, 31, 0.6);
}
#contact-form, #projects-carousel, #index-main {
  flex:auto;
}
#index-main {
  padding-top: 500px;
}
#main-footer {
  color: white;
}
.fa-envelope-open:hover {
  color: #C63D2D !important;
}
.fa-linkedin:hover {
  color: #4875B4 !important;
}
.fa-github:hover {
  color: #31c854 !important;
}
.fa-twitter:hover {
  color: #33CCFF !important;
}
.fa-facebook:hover {
  color: #3B5998 !important;
}

.contact-form { 
  -webkit-box-shadow: 0px -5px 35px 10px rgba(251,166,86,1);
  -moz-box-shadow: 0px -5px 35px 10px rgba(251,166,86,1);
  box-shadow: 0px -5px 35px 10px rgba(251,166,86,1);
}
.text-border {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}